@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  padding: 15px;
  margin: 0 auto;
  max-width: 1000px;

  font-size: clamp(16px, 5vw, 24px);
  line-height: 1.5;
}

h2 {
  margin-bottom: 20px;
}

p,
ul {
  margin-bottom: 15px;
}

footer {
  display: flex;
  justify-content: center;
}
