.job {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;
}

.time-period {
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: self-end;

  height: min-content;
  padding: 0 10px;
  border: 2px solid rgb(73, 12, 106);
  border-bottom: none;
  border-radius: 20px;
  font-style: italic;
}

.duty {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.place {
  grid-column-start: 1;
  font-style: italic;
  font-weight: 600;
}
