.nav {
    position: fixed;
    z-index: 99;
    top: 0;
    height: 50px;
    width: 100vw;

    background-color: rgb(221, 232, 240);
}

:target {
    scroll-margin-top: 50px;
}


.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    list-style-type: none;
    padding: 0;
}

.nav a:link,
.nav a:visited {
    color: black;
    text-decoration: none;
}

.nav a:hover {
    color: darkgreen;
}

.nav a:active {
    color: lightcoral;
}