.projects-section {
  display: grid;
  gap: 20px;
}

.projects-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 30px;
}

.project {
  padding: 5px;
}

.project__name {
  display: block;
  font-size: 1.2em;
  width: max-content;
  padding: 0.3em 20px;
  margin-bottom: 5px;
  background-color: rgba(46, 179, 192, 0.113);

  --clip-size: 20px;
  clip-path: polygon(
    var(--clip-size) 0,
    100% 0,
    100% calc(100% - var(--clip-size)),
    calc(100% - var(--clip-size)) 100%,
    0 100%,
    0 var(--clip-size)
  );
}
