@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  padding: 15px;
  margin: 0 auto;
  max-width: 1000px;

  /* font-size: clamp(16px, 5vw, 24px); */
  line-height: 1.5;
}

.main-wrapper {
  display: flex;
  align-items: baseline;
}

.main-wrapper__side-info {
  background-color: rgba(247, 241, 253, 0.548);
  padding-right: 1rem;
  margin-top: -1rem;
  padding-top: 1rem;
  margin-left: -1rem;
  padding-left: 1rem;
}

.main-wrapper__main-info {
  margin-left: 1rem;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

ul {
  margin: 0;
  padding-inline-start: 1rem;
}

footer {
  display: flex;
  justify-content: center;
}
