.personal-name {
  margin: 0;
  font-size: 3em;
  font-weight: 200;
  text-align: center;
}

.profession {
  text-align: center;
  margin: 0;
  line-height: 1em;
  font-size: 2rem;
  font-weight: 900;
  color: rgba(41, 0, 79, 0.656);
}

.social-networks {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.link {
  text-decoration: none;
  color: rgb(35, 35, 183);
  transition: color 200ms;
}

.link:hover {
  color: rgb(196, 56, 224);
}

.aside-header {
  text-transform: uppercase;
  color: rgba(62, 0, 117, 0.833);
  margin-bottom: 0.2em;
}

.skills p {
  margin-block: 5px;
}

.github-link {
  font-size: 1.2em;
}

.language {
  font-weight: 600;
}
